
.main-header {
	background-image: url('../images/wood-bg.png');
	background-position: center;
	background-size: contain;
}
.top-newsletter-container {
	background: #0f0f0f;
	.inner-wrapper {
		max-width: 1160px;
		margin: 0 auto;
		padding: 10px 15px;
	}
}